/* Profile Page Styles */
.profile-container {
  padding: 20px;
  background-color: var(--dark-gray);
  min-height: 100vh;
  flex: auto;
}

.profile-card {
  background-color: var(--light-orange);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 20px;
  margin: auto;
  width: min(900px, 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.playlist-info {
  width: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
  border-bottom: 1px solid var(--black);
}

.profile-card h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: var(--white);
}

/* Playlist Section */
.playlist-box {
  max-height: 260px;
  overflow-y: auto;
  background: rgba(80, 80, 80, 0.45);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-playlists {
  text-align: center;
  overflow-y: auto;
  background: rgba(80, 80, 80, 0.45);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 10px;
}

.playlist-item {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 10px;
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
